#output_dir: ./outputs

defaults:
  - launcher: local
  - _self_


output_model_name: dinoiql

trainer:
  max_epochs: 100
  strategy: auto #ddp
  devices: 1
  accelerator: gpu
  precision: 16-mixed
  gradient_clip_val: 1.0

batch_size: 32
num_workers: ${cpus_per_task}
train_split: 0.9
seed: 42

image_size: 224
patch_size: 14

n_steps: ${eval:'${dinowm.num_preds} + ${dinowm.history_size}'}
frameskip: 1

dinowm:
  history_size: 3
  num_preds: 1
  proprio_dim: 4
  proprio_embed_dim: 10
  action_dim: 2
  action_embed_dim: 10

predictor:
  depth: 6
  heads: 16
  mlp_dim: 2048
  dim_head: 64
  dropout: 0.1
  emb_dropout: 0.0

predictor_lr: 5e-4
proprio_encoder_lr: 5e-4
action_encoder_lr: 5e-4

# Goal sampling probabilities (random, future, current) - must sum to 1.0
goal_probabilities:
  random: 0.375 #0.3
  future: 0.625 #0.5
  current: 0.0 #0.2
goal_gamma: 0.99  # Discount factor for geometric distribution when sampling future goals

dump_object: True
